<!DOCTYPE html>
<html>
<body>
    <!-- Input for ML model -->
    <h1>मी काम करतोय</h1>
    <br>
    <form action="{{ url_for('model')}}" method="post">
        <input type="text" name="emotion_calculator" placeholder="Analysis" required="required">

        <button type="submit" class="btn">Calculate sentiment</button>
    </form>

    <br>
    <br>
    <br>

    {% if not result.empty %}
        <h1>{{ result['comment'][0] }}</h1>
        <h1>{{ result['rating'][0] }}</h1>
        <h1>{{ result['comment marathi'][0] }}</h1>
        <h1>{{ result['stop word removed comment'][0] }}</h1>
    {% endif %}
</body>
</html>